.Board {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #eeb;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 5px #999966);
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border: 1px solid #888844;
}

.Cell {
    padding: 3px;
    width: 17px;
    height: 17px;
}

.Stone {
    position: relative;
    bottom: 3px;
    right: 3px;
    width: 23px;
    height: 23px;
    background-color: #000000;
    border-radius: 14px;
    filter: drop-shadow(2px 2px 1px #888888);
    cursor: not-allowed;
}

.byWhite {
    background-color: #ffffff;
}

.byBlack {
    background-color: #000000;
}
